@if (user.isLoading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">{{ i18n.getTranslation('LOADING') }}</span>
    </div>
  </div>
}

<div class="user-panel">

  <!-- USER NAVBAR -->

  <div class="user-navbar">

    <div class="user-left">
      <span class="welcome">
        {{ i18n.getTranslation('WELCOME') }} {{ user.value()?.username }}
      </span>
    </div>

    <div class="user-nav">

      <a class="nav-item" (click)="displayUserAddress()">
        {{ i18n.getTranslation('INFORMATION') }}
      </a>

      <a class="nav-item" (click)="displayUserOrder()">
        {{ i18n.getTranslation('ORDERS') }}
      </a>

      <a class="nav-item" (click)="displayUserComment()">
        {{ i18n.getTranslation('COMMENTS') }}
      </a>

      <a class="nav-item" (click)="displayEditAddress()">
        {{ i18n.getTranslation('EDIT_ADDRESS') }}
      </a>

      <a class="nav-item" (click)="displayUserEmail()">
        {{ i18n.getTranslation('EMAIL') }}
      </a>

      <a class="nav-item" (click)="goToShopping()">
        {{ i18n.getTranslation('GO_TO_SHOPPING') }}
      </a>

    </div>

    <div class="user-right">
      <a class="logout" (click)="logout()">
        {{ i18n.getTranslation('LOGOUT') }}
      </a>
    </div>

  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid mt-4">

      @if (activeComponent() === 'address') {
        <app-user-address [userAddressInput]="user.value()?.address"/>
      } @else if (activeComponent() === 'order') {
        <app-user-order [userOrdersInput]="orders.value()" />
      } @else if (activeComponent() === 'comment') {
        <app-user-comment
          (commentsUpdated)="onCommentUpdated()"
          [userCommentsInput]="user.value()?.comments"/>
      } @else if (activeComponent() === 'edit-address') {
        <app-user-edit
          (addressUpdated)="onAddressUpdated()"
          [userAddressInput]="user.value()?.address"/>
      } @else if (activeComponent() === 'email'){
        <app-user-email
          (emailUpdated)="onEmailUpdated()"
          [userEmailInput]="user.value()?.username"/>
      }

    </div>
  </div>

</div>
