.parallax {
  background-image: url("/fotova/parallax.png");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-color {
  color: #5b5555;
}
