<div class="container d-flex justify-content-center" style="max-width: 700px;" >
  <form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-6">
      <label for="inputAddress" class="form-label">Street</label>
      <input formControlName="street" type="text" class="form-control" id="inputAddress" placeholder="Avenue briart">
      @if(street.hasError('required') && street.touched) {
        <div class="text-danger">
          {{ i18n.getTranslation('PLEASE_ENTER_STREET') }}
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">ZIP + City</label>
      <input type="text" formControlName="city" class="form-control" id="inputCity">
      @if(city.hasError('required') && city.touched) {
        <div class="text-danger">
          {{ i18n.getTranslation('PLEASE_ENTER_CITY') }}
        </div>
      }
    </div>
    <div class="col-md-6">
      <label for="inputNumber" class="form-label">Number + bte</label>
      <input type="text" formControlName="number" class="form-control" id="inputNumber">
      @if(number.hasError('required') && number.touched) {
        <div class="text-danger">
          {{ i18n.getTranslation('PLEASE_ENTER_NUMBER_BOX') }}
        </div>
      }
    </div>

    <div class="col-md-6">
      <label for="inputCountry" class="form-label">
        {{ i18n.getTranslation('COUNTRY') }}
      </label>

      <select
        id="inputCountry"
        class="form-select"
        formControlName="country">

        <option value="">
          -- Sélectionner un pays --
        </option>

        @for (countryItem of countries; track countryItem) {
          <option [value]="countryItem">
            {{ countryItem }}
          </option>
        }

      </select>

      @if (country.hasError('required') && country.touched) {
        <div class="text-danger">
          {{ i18n.getTranslation('PLEASE_ENTER_COUNTRY') }}
        </div>
      }
    </div>


    <div class="col-12">
      <button [disabled]="form.invalid" type="submit" class="btn btn-dark">{{ i18n.getTranslation('EDIT') }}</button>
    </div>
  </form>
</div>
