@if (products.isLoading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

<div class="container mt-5 mb-5">
  <div class="row">
    @for (product of products.value(); track product.id)
    {
      <div (click)="goToProductDetail(product.id)" class="col-lg-4 col-md-6 col-sm-12 mb-3" style="cursor: pointer;">
        <div class="container d-flex justify-content-center flex-column" style="width:350px">
          <span appProductBorder class="shadow p-3 h-75">
            <p class="text-center"> <strong> {{product.name}} </strong> </p>
            <img class="mx-5 mb-3" [src]="urlHelper(product.url)" [alt]="product.name" width="200px" height="200px">
          </span>
        </div>
      </div>
    }
  </div>
</div>
