.card {
  border: 2px dashed #dee2e6;
  transition: border-color 0.3s, background-color 0.3s;
}

.card:hover {
  border-color: #1b732c;
  background-color: #f8f9fa;
}

button.btn-outline-primary {
  border: 2px dashed #1b732c;
}

.card-file-box {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.btn-add-box {
  width: 200px;
  height: 200px;
}

.slider-container {
  display: flex;
  width: 200%; /* deux écrans côte à côte */
  transition: transform 0.6s ease-in-out;
}

.slider-screen {
  width: 50%;
  flex-shrink: 0;
  padding: 20px;
}

.slider-container:not(.show-images) {
  transform: translateX(0);
}

.slider-container.show-images {
  transform: translateX(-50%);
}
