@if (user.isLoading() || clients.isLoading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">{{ i18n.getTranslation('LOADING') }}</span>
    </div>
  </div>
}

<div class="user-panel d-flex flex-column flex-md-row min-vh-100">
  <div class="sidebar p-3 bg-light border-end" style="min-width: 200px;">
    <h5>{{ user.value()?.username }}</h5>
    <nav class="nav flex-column">
      <a class="nav-link" style="cursor: pointer" (click)="manageClients()">{{ i18n.getTranslation('CLIENTS') }}</a>
    </nav>
    <nav class="nav flex-column">
      <a class="nav-link" style="cursor: pointer" (click)="manageProducts()">{{ i18n.getTranslation('PRODUCTS') }}</a>
    </nav>
    <nav class="nav flex-column">
      <a class="nav-link" style="cursor: pointer" (click)="manageCategories()">{{ i18n.getTranslation('CATEGORIES') }}</a>
    </nav>
    <nav class="nav flex-column">
      <a class="nav-link" style="cursor: pointer" (click)="manageOrders()">{{ i18n.getTranslation('ORDERS') }}</a>
    </nav>
    <div class="sidebar-footer mt-auto pt-3 border-top">
      <a (click)="logout()" class="d-block text-dark">{{ i18n.getTranslation('LOGOUT') }}</a>
    </div>
  </div>

  <!-- Main content -->
  <div class="main-content flex-fill p-4">
    <h1>{{ i18n.getTranslation('WELCOME') }} {{ user.value()?.username }}</h1>

    <div class="container-fluid mt-4">
      @if(activeComponent() === ""){
        <app-admin-chart [ordersDetailedInput]="ordersDetailed.value()" />
      }

      @if (activeComponent() === 'clients') {
        <app-admin-client [clientsInput]="clients.value()"/>
      } @else if (activeComponent() === 'products') {
        <app-admin-product
          [productsInput]="products.value()"
          (productDeleted)="onProductDeleted()"  />
      } @else if (activeComponent() === 'categories') {
        <app-admin-categories [categoriesInput]="categories.value()"
                              [productsInput]="products.value()"
                              (categoryDeleted)="onCategoryDeleted()" />
      } @else if (activeComponent() === 'orders') {
        <app-admin-order
          [ordersDetailedInput]="ordersDetailed.value()"
          [ordersInput]="orders.value()"
          (orderCompleteUpdate)="onOrderCompleteUpdate()"
          />
      }
    </div>
  </div>
</div>
