body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* SPINNER */
.big-spinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.3rem;
  color: #2a2626;
}


/* ADMIN NAVBAR */

.admin-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  background: #ffffff;
  border-bottom: 1px solid #dee2e6;
}

/* welcome */

.welcome {
  font-size: 0.9rem;
  color: #343030;
  font-weight: 500;
}

/* navigation */

.admin-nav {
  display: flex;
  gap: 1.2rem;
}

.nav-item {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #343030;

  padding: 8px 14px;
  border-radius: 20px;

  transition: all 0.2s ease;
}

/* hover plus visible mais toujours soft */

.nav-item:hover {
  background: #f1f1f1;
  color: #000;
}

/* optionnel : petit underline moderne */

.nav-item::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin-top: 4px;
  background: #343030;
  transition: width 0.2s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item.active {
  background: #343030;
  color: white;
}


/* logout */

.logout {
  font-size: 0.85rem;
  color: #343030;
  border: 1px solid #343030;
  padding: 6px 16px;
  border-radius: 20px;
  transition: 0.2s;
}

.logout:hover {
  background: #343030;
  color: #ffffff;
}

/* content */

.main-content {
  padding: 2rem;
}
