@if (carts.isLoading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">{{ i18n.getTranslation('LOADING') }}</span>
    </div>
  </div>
}

<div class="container py-4">

  <h2 class="mb-4">{{ i18n.getTranslation('MY_CART') }}</h2>

  @if(carts.value()?.length === 0) {
    <div class="h4 mt-2 mb-3">{{ i18n.getTranslation('YOUR_CART_IS_EMPTY') }}</div>
  }
  <div class="vstack gap-3">
    @for (cart of carts.value(); track cart.id) {
      <div class="card p-3 d-flex flex-row align-items-center">
          <img
            [src]="urlHelper(cart.url)"
            [alt]="cart.name"
            class="img-thumbnail"
            style="width: 100px; height: 100px; object-fit: cover;"
          />
        <div class="ms-3">
          <span class="mb-1 my-1 h4">{{ cart.name }}</span>
          <div class="text-muted">{{ i18n.getTranslation('PRICE') }} : {{ cart.price | number:'1.2-2' }} €</div>
          <div class="text-muted">{{ i18n.getTranslation('QUANTITY') }} : {{ cart.quantity }}</div>

          <div class="btn-group mt-2" role="group" aria-label="Modifier la quantité">

            @if (cart.quantity > 1)
            {
              <button class="btn btn-outline-secondary btn-sm rounded p-1 fw-bold me-2"
                      (click)="decrement(cart.name,cart)"
                      style="width: 30px; height: 30px;">
                -
              </button>
            }
            @else if (cart.quantity === 1)
            {
              <span (click)="removeItem(cart.name)">
                  <svg style="width: 20px; height: 20px; cursor: pointer" class="me-2 my-1"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
              </span>
            }

              <button class="btn btn-outline-secondary btn-sm rounded p-1 fw-bold"
                      [disabled]="cart.quantity === cart.quantityMax"
                      (click)="increment(cart.name,cart)"
                      style="width: 30px; height: 30px;">
                +
              </button>
          </div>
          <div class="fw-bold mt-2">
            {{ i18n.getTranslation('TOTAL') }} : {{ cart.price * cart.quantity | number:'1.2-2' }} €
          </div>
        </div>
      </div>
    }
    <button (click)="goToAllProducts()" class="btn btn-outline-secondary w-25" >
      {{ i18n.getTranslation('GO_TO_SHOPPING') }}
    </button>
  </div>

  <div class="d-flex justify-content-end mt-2">
    <div class="text-end">
      <h5 class="mb-0 text-dark">{{ i18n.getTranslation('SUBTOTAL') }} :</h5>
      <p class="fs-5 fw-bold text-dark">
        {{totalPrice.value() | number:'1.2-2'}} €
      </p>
      @if(loginHelper.isLogged())
      {
        <button  (click)="order()" class="btn btn-outline-success w-100">{{ i18n.getTranslation('CONFIRM_ORDER') }}</button>
      } @else {
        <button disabled class="btn btn-outline-secondary w-100">{{ i18n.getTranslation('LOGIN_TO_PROCEED') }}</button>
      }
    </div>
  </div>
</div>
