@if (product.isLoading()) {
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">{{ i18n.getTranslation('LOADING') }}</span>
    </div>
  </div>
}

@if(product.hasValue()) {
  <div class="container d-flex justify-content-center mt-5">

    <!-- LATERAL CARD  -->
    <div class="d-flex flex-column mr-2">
      @for (img of product.value().images; track img) {
        <img class="mx-2 shadow rounded p-2 m-1"
             style="cursor: pointer;"
             appProductBorder
             (click)="switchImage(img)"
             [src]="urlHelper(img)" [alt]="product.value().name" width="60px" height="60px">
      }
      <img class="mx-2 shadow rounded p-2 m-1"
           appProductBorder
           style="cursor: pointer;"
           [src]="urlHelper(product.value().url)"
           (click)="switchImage(product.value().url)"
           [alt]="product.value().name" width="60px" height="60px">
    </div>

    <!-- MAIN CARD  -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 rounded">
      <div class="container d-flex justify-content-center flex-column" style="width:350px">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="shadow p-3 h-75 rounded" >

          <p class="text-center"> <strong> {{product.value().name}} </strong> </p>
            <img #imgSwitch class="mx-5 mb-3 mb-4"
                 [src]="urlHelper(product.value().url)"
                 [alt]="product.value().name" width="200px" height="200px">

            <p>{{ i18n.getTranslation('AVAILABLE_IN_STOCK') }} : {{product.value().quantity}}</p>

            <div class="d-flex justify-content-evenly">
              <button type="button"
                class="btn btn-outline-secondary"
                (click)="decrementCartQuantity()"
                [disabled]="cartQuantity.value <= 0">-</button>
              <input style="max-width: 150px" type="number"
                     formControlName="cartQuantity"
                     class="form-control text-center"/>
              <button type="button"
                      (click)="incrementCartQuantity()"
                      [disabled]="cartQuantity.value >= product.value().quantity"
                      class="btn btn-outline-secondary">+</button>
            </div>

            @if(cartQuantity.hasError('required')) {
                <div class="text-danger">
                      {{ i18n.getTranslation('PLEASE_ENTER_QUANTITY') }}
                </div>
            }

            @if(cartQuantity.hasError('minlength')) {
              <div class="text-danger">
                {{ i18n.getTranslation('MINIMUM_QUANTITY_REQUIRED') }}
              </div>
            }

            <p class="text-center mt-3"> {{ i18n.getTranslation('PRICE') }} : {{product.value().price | currency: 'EUR'}} </p>
            <button [disabled]="form.invalid" class="btn btn-outline-success w-100">{{ i18n.getTranslation('ADD_TO_CART') }}</button>
        </form>
        <div class="mt-3">
          <button (click)="goToProductList()" class="fs-6 fw-bold btn-outline-secondary btn">{{ i18n.getTranslation('PRODUCTS') }}</button>
        </div>
      </div>
    </div>
  </div>
}
