 /* Boutons */
.btn-detail {
  background: #423c32;
  color: #ffffff;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 8px;
  /*border: 2px solid #c8b38a;*/
  transition: all 0.3s ease;
}

.btn-detail:hover {
  transform: scale(1.05);
}

 /* SPINNER */
 .big-spinner {
   width: 3rem;
   height: 3rem;
   border-width: 0.3rem;
   color: #2a2626;
 }
