.login-card {
  background-color: #ffffff;
  max-width: 420px;
  width: 100%;
  margin-top: -200px;
}

.login-title {
  font-weight: 500;
  letter-spacing: 1px;
  color: #343030;
}

.login-subtitle {
  font-size: 0.85rem;
  color: #8c857a;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.mat-input-field {
  position: relative;
  padding-bottom: 4px;
}

.mat-input-field .mat-text {
  border: none;
  border-bottom: 1px solid #b8b2a7;
  background: transparent;
  width: 100%;
  padding: 6px 0;
  font-size: 15px;
  color: #343030;
}

.mat-input-field input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.mat-input-field::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #c8b38a;
  transition: width 0.3s ease;
}

.mat-input-field:focus-within::after {
  width: 100%;
}

.mat-input-field .mat-label {
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 14px;
  color: #8c857a;
  transition: all 0.25s ease;
  pointer-events: none;
}

.mat-input-field input:focus + .mat-label,
.mat-input-field input:valid + .mat-label {
  top: -14px;
  font-size: 11px;
  color: #c8b38a;
}




.error-text {
  font-size: 0.75rem;
  margin-top: 4px;
  color: #a94442;
}

.btn-login-primary {
  background-color: #343030;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.9rem;
}

.btn-login-primary:hover {
  background-color: #1f1c1c;
}

.btn-login-secondary {
  background-color: transparent;
  border: 1px solid #343030;
  color: #343030;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.9rem;
}

.btn-login-secondary:hover {
  background-color: #343030;
  color: white;
}
