/* hover ligne table */

.table-products tbody tr:hover td {
  background-color: #e6dece;
  transition: background-color 0.2s ease;
}

/* boutons actions */

.btn-action{
  display:inline-block;
  margin:0 4px;
  border:none;
  padding:6px 12px;
  border-radius:8px;
  font-size:13px;
  font-weight:600;
  cursor:pointer;
  transition:all 0.25s ease;
}

/* bouton view */

.btn-view{
  background:#e8e3d7;
  color:#343030;
}

.btn-view:hover{
  background:#d6c9a6;
}
