/* colonne actions */
.table-products tbody tr:hover td {
  background-color: #e6dece;
  transition: background-color 0.2s ease;
}

/* spinner size */
.big-spinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.3rem;
  color: #2a2626;
}

/* boutons actions */

.btn-action{
  display:inline-block;
  margin:0 4px;
  border:none;
  padding:6px 12px;
  border-radius:8px;
  font-size:13px;
  font-weight:600;
  cursor:pointer;
  transition:all 0.25s ease;
}
/* boutons actions */

.btn-action{
  border:none;
  padding:6px 12px;
  border-radius:8px;
  font-size:13px;
  font-weight:600;
  transition:all 0.25s ease;
}

/* view */

.btn-view{
  background:#e8e3d7;
  color:#343030;
}

.btn-view:hover{
  background:#d6c9a6;
}

/* labels */

.btn-labels{
  background:#c8b38a;
  color:#343030;
}

.btn-labels:hover{
  background:#b59c6f;
}

/* delete */

.btn-delete{
  background:#343030;
  color:#fff;
}

.btn-delete:hover{
  background:#8b2d2d;
}

/* nom produit plus visible */

.product-name{
  font-weight:600;
}

/* prix */

.price{
  font-weight:600;
  color:#8b6d3b;
}

.product-img {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;

  object-fit: cover;
  border-radius: 6px;

  display: block;
  margin: auto;

  border: 1px solid #e0e0e0;
  background: #fafafa;
}

.table-products td:nth-child(7) {
  width: 70px;
}

/* Bouton e-commerce premium */

.btn-create {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  color: #fff;

  padding: 12px 24px;
  border-radius: 12px;
  border: none;

  /* Dégradé type e-commerce */
  background: linear-gradient(135deg, #493112, #4b4133);

  /* Ombre pour donner du relief */
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);

  /* Transition pour hover */
  transition: all 0.3s ease;
}

/* Hover et focus */
.btn-create:hover,
.btn-create:focus {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
  background: linear-gradient(135deg, #463013, #34312a);
}

/* Optionnel : effet active (clic) */
.btn-create:active {
  transform: translateY(0);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
