<div class="container my-5">
  <table class="table table-orders">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{i18n.getTranslation("ID")}}</th>
      <th scope="col">{{i18n.getTranslation("DATE")}}</th>
      <th scope="col">{{i18n.getTranslation("USER")}}</th>
      <th scope="col">{{i18n.getTranslation("TOTAL")}}</th>
      <th scope="col">{{i18n.getTranslation("IS_DONE")}}</th>
      <th scope="col">{{i18n.getTranslation("ACTIONS")}}</th>
    </tr>
    </thead>
    <tbody>
      @for (order of ordersInput(); track order.id; let idx = $index)
      {
        <tr>
          <th scope="row">{{idx}}</th>
          <td>{{ order.id }}</td>
          <td>{{ order.createAt | date:'dd-MM-yyyy' }}</td>
          <td>{{ order.client.email }}</td>
          <td>{{ getTotalByOrder(order)  | currency:'EUR'}}</td>
          <td>
            @if(order.isDone) {
              <img src="/fotova/check.jpg" alt="check" class="status-icon" />
            } @else {
              <span class="status-pending">
                <svg viewBox="0 0 100 300" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="35" y="0" width="30" height="200" rx="15" fill="red"/>
                  <circle cx="50" cy="265" r="35" fill="red"/>
                </svg>
              </span>
            }
          </td>
          <td>
            <button (click)="goToOrderDetail(order.id,order.client.email)" class="btn btn-detail me-2">
              {{i18n.getTranslation("SHOW")}}
            </button>
            @if (order.isDone) {
              <button (click)="completeOrder(order.id)" class="btn btn-uncomplete">
                {{i18n.getTranslation("UN_COMPLETE")}}
              </button>
            } @else {
              <button (click)="completeOrder(order.id)" class="btn btn-complete">
                {{i18n.getTranslation("COMPLETE")}}
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
