/* hover ligne table */

.table-products tbody tr:hover td {
  background-color: #e6dece;
  transition: background-color 0.2s ease;
}

/* status icons */

.status-icon {
  width: 40px;
  height: 40px;
}

.status-pending svg {
  width: 40px;
  height: 25px;
}

/* boutons admin */

.btn-action{
  display:inline-block;
  margin:0 4px;
  border:none;
  padding:6px 12px;
  border-radius:8px;
  font-size:13px;
  font-weight:600;
  cursor:pointer;
  transition:all 0.25s ease;
}

/* bouton view */

.btn-view{
  background:#e8e3d7;
  color:#343030;
}

.btn-view:hover{
  background:#d6c9a6;
}

/* bouton complete */

.btn-complete{
  background:#c8b38a;
  color:#343030;
}

.btn-complete:hover{
  background:#b59c6f;
}

/* bouton uncomplete */

.btn-uncomplete{
  background:#343030;
  color:#fff;
}

.btn-uncomplete:hover{
  background:#8b2d2d;
}
